{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block body %}
<div class=" col-lg-4 box-form col-lg-offset-4">
    <center> <img src="{{asset('assets/images/Logo.png')}}" width="300"/></center>
    <h2>Login</h2>
    <hr/>
    <form action="{{path('login_check')}}" method="POST">
        <label> Usuario</label> 
        <input type="text" id="username" name="_username" value="{{lastusername}}" class="form-control" />
        <br>
        <label> Contraseña</label>
        <input type="password" id="password" name="_password" value="" class="form-control" />
        <input type="submit" value="Entrar" class="btn btn-success"/>
        <input type="hidden" name="_target_path" value="/home"/>
        <br>
    </form>
</div>
    
{% endblock %}
