BackendBundle\Entity\CamposFormularios:
    type: entity
    table: campos_formularios
    indexes:
        fk_solicitudes_formularios1_idx:
            columns:
                - formularios_id
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: false
            id: true
            generator:
                strategy: IDENTITY
    fields:
        campo:
            type: string
            nullable: true
            length: 45
            options:
                fixed: false
        valor:
            type: string
            nullable: true
            length: 45
            options:
                fixed: false
        descripcion:
            type: string
            nullable: true
            length: 450
            options:
                fixed: false
    manyToOne:
        formularios:
            targetEntity: Formularios
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                formularios_id:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
