BackendBundle\Entity\ItemsOc:
    type: entity
    table: items_oc
    indexes:
        fk_items_oc_ordenescompra1_idx:
            columns:
                - ordenescompra
        fk_items_oc_inventario1_idx:
            columns:
                - inventario_id
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: false
            id: true
            generator:
                strategy: IDENTITY
    fields:
        cantidad:
            type: float
            nullable: true
            precision: 10
            scale: 0
        descripcion:
            type: string
            nullable: true
            length: 450
            options:
                fixed: false
        valor:
            type: float
            nullable: true
            precision: 10
            scale: 0
    manyToOne:
        inventario:
            targetEntity: Inventario
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                inventario_id:
                    referencedColumnName: id
            orphanRemoval: false
        ordenescompra:
            targetEntity: Ordenescompra
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                ordenescompra:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
