BackendBundle\Entity\Ordenescompra:
    type: entity
    table: ordenescompra
    indexes:
        fk_ordenescompra_config1_idx:
            columns:
                - tipo_oc
        fk_ordenescompra_empresa1_idx:
            columns:
                - empresa
        fk_ordenescompra_proveedores_clientes1_idx:
            columns:
                - proveedores_clientes
        fk_ordenescompra_usuario1_idx:
            columns:
                - solicitado_por
        fk_ordenescompra_config2_idx:
            columns:
                - estado
        fk_ordenescompra_campana1_idx:
            columns:
                - campana
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: false
            id: true
            generator:
                strategy: IDENTITY
    fields:
        numeroOc:
            type: float
            nullable: true
            precision: 10
            scale: 0
            column: numero_oc
        fechaEstimadaCompra:
            type: datetime
            nullable: true
            column: fecha_estimada_compra
        fechaIngreso:
            type: datetime
            nullable: true
            column: fecha_ingreso
        total:
            type: float
            nullable: true
            precision: 10
            scale: 0
        iva:
            type: float
            nullable: true
            precision: 10
            scale: 0
        subtotal:
            type: float
            nullable: true
            precision: 10
            scale: 0
    manyToOne:
        campana:
            targetEntity: Campana
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                campana:
                    referencedColumnName: id
            orphanRemoval: false
        tipoOc:
            targetEntity: Config
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                tipo_oc:
                    referencedColumnName: id
            orphanRemoval: false
        estado:
            targetEntity: Config
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                estado:
                    referencedColumnName: id
            orphanRemoval: false
        empresa:
            targetEntity: Empresa
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                empresa:
                    referencedColumnName: id
            orphanRemoval: false
        proveedoresClientes:
            targetEntity: ProveedoresClientes
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                proveedores_clientes:
                    referencedColumnName: id
            orphanRemoval: false
        solicitadoPor:
            targetEntity: Usuario
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                solicitado_por:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
