


{% if app.user.role=='ROLE_ADMIN'%}
    <ul class="nav navbar-nav ">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Administrador
                <span class="caret"></span> 
            </a>
            <ul class="dropdown-menu">
               <li class="dropdown"><a href="{{path("usuario")}}">
                        <span class="fas fa-warehouse" aria-hidden="true" ></span>&nbsp
                        Crear Usuarios
                    </a>
                </li>
                <li class="dropdown"><a href="{{path("empresa")}}">
                        <span class="fas fa-building" aria-hidden="true" ></span>&nbsp
                       Empresas
                    </a>
                </li>
              

                    </ul>
                </li>

            </ul>

{% endif %}


