{% if app.user.role=='ROLE_ADMIN' or app.user.role=='ROLE_FINANZAS'%}
    <ul class="nav navbar-nav ">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Finanzas
                <span class="caret"></span> 
            </a>
            <ul class="dropdown-menu">
               <li class="dropdown"><a href="{{path('proveedoresclientes')}}">
                        <span class="fas fa-file-contract" aria-hidden="true" ></span>&nbsp
                        Proveedores / Clientes
                    </a>
                </li>
                        <li><a href="{{path('ordenescompra')}}">
                                <span class="fas fa-file-contract" aria-hidden="true" ></span>&nbsp
                                Ordenes de Compra / Pedido
                            </a>
                        </li>
                      <li><a href="{{path('autorizaciones')}}">
                                <span class="fa fa-hands-helping" aria-hidden="true" ></span>&nbsp
                                Autorizar Solicitudes / OC
                            </a>
                        </li>
                        <!--<li><a href="">
                                <span class="fa fa-list-ol" aria-hidden="true" ></span>&nbsp
                                Formularios  y Script
                            </a>
                        </li>
                        
                     <li><a href="">
                                <span class="fa fa-building" aria-hidden="true" ></span>&nbsp
                                Sponsor
                            </a>
                        </li>

                    </ul>
                </li>-->

            </ul>
    </ul>

{% endif %}


