


{% if app.user.role=='ROLE_ADMIN'%}
    <ul class="nav navbar-nav ">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Sistemas
                <span class="caret"></span> 
            </a>
            <ul class="dropdown-menu">
               
              <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-cogs" aria-hidden="true" ></span>&nbsp
                        Configuraciones
                    </a>  
                    <ul class="dropdown-menu">
                        <li class="dropdown"><a href="{{path('config')}}">
                                <span class="fa fa-piggy-bank" aria-hidden="true" ></span>&nbsp
                               Agregar tipos de cuentas Bancarias
                            </a>
                        </li>
                        <li>
                            <a href="{{path('movimientosbanco')}}">
                                <span class="fas fa-calendar-alt" aria-hidden="true" ></span>&nbsp
                                Movimiento cuenta Banco
                            </a>
                        </li>
                       <!-- <li class="dropdown"><a href="">
                                <span class="fa fa-clipboard-list" aria-hidden="true" ></span>&nbsp
                                Condition
                            </a>
                        </li>-->
                    </ul>
                </li>
                <li class="dropdown"><a href="{{path("notificaciones")}}">
                        <span class="fas fa-briefcase" aria-hidden="true" ></span>&nbsp
                       Notificaciones
                    </a>
                </li>
                <li class="dropdown"><a href="{{path("incidencia")}}">
                        <span class="fas fa-briefcase" aria-hidden="true" ></span>&nbsp
                       Incidencias
                    </a>
                </li>
              

                    </ul>
                </li>

            </ul>

{% endif %}


