 


{% if app.user.role=='ROLE_ADMIN' or app.user.role=='ROLE_SUPERVISOR'%}
    <ul class="nav navbar-nav ">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Supervisor
                <span class="caret"></span> 
            </a>
           <ul class="dropdown-menu">
                <li class="menu-item ">
                    <a href="{{path("coberturas")}}">Coberturas</a>
                </li>
          </ul>
          <!--      <li class="dropdown"><a href="#">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>&nbsp
                        Tipificaciones
                    </a> 
                </li>
                <li class="dropdown"><a href="">
                        <span class="fa fa-users" aria-hidden="true" ></span>&nbsp
                        Asignar Ejecutivos
                    </a>
                </li>
                {% if app.user.role=='ROLE_ADMIN' or app.user.role=='ROLE_SUPERVISOR' or app.user.role=='ROLE_ASISTENCIA'%}
                    <li class="menu-item dropdown dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consalud</a>
                        <ul class="dropdown-menu"> 
                            <li class="menu-item ">
                                <a href="">Archivos</a>
                            </li>
                            <!--  <li class="menu-item dropdown dropdown-submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#">Link 3</a>
                                      </li>
                                  </ul> 
                              </li>--
                        </ul>
                    </li>
                    <li class="menu-item dropdown dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Netline Farma</a>
                        <ul class="dropdown-menu">
                            <li class="menu-item ">
                                <a href="">Cargar BD</a>
                            </li>

                            <!--  <li class="menu-item dropdown dropdown-submenu">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#">Link 3</a>
                                      </li>
                                  </ul>
                              </li>--
                        </ul>
                    </li>
                {% endif %}
            </ul>-->
                
        </li>


    </ul>

{% endif %}


